.App {
  display:flex;
  text-align: center;
  height:100vh;
  align-items: center;
  justify-content: center;
}

.contenedor{
  text-align: center;
}

.btn{
  text-transform: uppercase;
  border: 3px solid;
  border-radius:25px;
  padding:1rem 3rem;
  text-decoration: none;
  font-weight: bold;
  display:inline-block;
  font-size:1rem;
  margin: 0rem 0.25rem;
}

.decrementar{
  background-color:#F2F2F2  ;
  border-color:    #006E7F  ;
  color: #B22727 ;
  
}

.decrementar:hover{
  background-color: #F8CB2E
}

.reset{
  background-color:#F2F2F2  ;
  border-color:#112B3C;
  color: #112B3C ;
  
}
.reset:hover{
  background-color:#E78EA9;
}

.aumentar{
  background-color:#F2F2F2  ;
  border-color:    #066163  ;
  color: #383838 ;
}

.aumentar:hover{
  background-color:#CDBE78  ;
  
}

p{
  font-size:3rem;
  font-weight: bold;
  text-transform: uppercase;
  
}
